<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754405868706-s3sceh6hqriq6cki24hnajcqmc756i2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754405868706-s3sceh6hqriq6cki24hnajcqmc756i2n</string>
	<key>API_KEY</key>
	<string>AIzaSyCg5ze5rw_ZPxUyHtLnxqCMMnE8TQzk2yQ</string>
	<key>GCM_SENDER_ID</key>
	<string>754405868706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gabrieldonato.studyTime</string>
	<key>PROJECT_ID</key>
	<string>study-time-donato</string>
	<key>STORAGE_BUCKET</key>
	<string>study-time-donato.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754405868706:ios:b65c449f3f150be76983fb</string>
</dict>
</plist>